@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
       url('fonts/pacifico-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/pacifico-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{
	background-color: #f2faee;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 800px;
}

.header{
	width: 100%;
	background-color: #4CAF50;
	color: white;
}

.titulo{
	margin: 0px;
	padding: 20px;
	font-family: Pacifico;
	font-size:40px;
	display: inline-block;
}

.tienes-cuenta{
	float: right;
	margin: 0;
	padding: 20px;
	padding-top: 50px;
}

#iniciar-sesion-boton{
	background-color: white;
    margin: 10px;
    color: #4CAF50;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 15px;
	border: 0px;
}

.resumen{
	width:50%;
	float: left;
	margin: 20px 0px 30px 70px;
	font-size: 30px;
}

.ventajas{
	padding-right:30px;
	border-spacing: 20px;
	font-size: 25px;
}

.cuenta{
	width: 20%;
	margin: 20px 80px 30px 0px;
	float: right;
}

#crea-cuenta-titulo{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 15px;
}

#crea-cuenta-subtitulo{
	font-size: 25px;
	margin: 0px;
}

.input-registro-texto{
	width: 100%;
    padding: 10px;
    margin: 15px 0 10px 5px;
	font-size: 16px;
}

#terminos-y-condiciones-checkbox{
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

#crear-cuenta-boton{
	background-color: #4CAF50;
    margin: 10px 0 0 15%;
    color: white;
	font-size: 20px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 15px;
	border: 0px;
}
